@import "../../utils/colors.scss";

.autorization {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 85px;
    box-shadow: 0px 3px 4px rgba(92, 92, 92, 0.25);

    &__header {
        margin-top: 68px;
        font-size: 36px;
        font-weight: 400;
    }
    &__inputs {
        margin-top: 132px;            
        display: flex;
        flex-direction: column;
        font-size: 15px;

        input {
            width: 488px;
            padding-left: 16px;
            background: #E7E7E7;
            border-radius: 8px;
            height: 48px;
            margin-bottom: 16px;
        }
    }

    &__btn {
        cursor: pointer;
        margin-top: 106px;
        width: 488px;
        height: 64px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

